:root {
    --lemon-green: #32CD32;
    --burnt-orange: #E67E22;
    --light-beige: #F5F5DC;
    --dark-gray: #333333;
}

.bg-primary {
    background: var(--lemon-green) !important;
}

.bg-app {
    background: var(--light-beige);
}

.btn-primary {
    background: var(--lemon-green) !important;
    border-color: var(--lemon-green);
}

.navbar-primary {
    background: var(--lemon-green) !important;
}