@font-face {
	font-family: 'Feather';
	src:
	url('../fonts/Feather.ttf?sdxovp') format('truetype'),
	url('../fonts/Feather.woff?sdxovp') format('woff'),
	url('../../fonts/Feather.svg?sdxovp#Feather') format('svg');
	font-weight: normal;
	font-style: normal;
}
[class^="feather-"], [class*=" feather-"] {
	font-family: 'feather' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.feather-book-open:before {content: "\e900";}

.feather-box:before {content: "\e901";}

.feather-briefcase:before {content: "\e902";}

.feather-align-center:before {content: "\e903";}

.feather-align-justify:before {content: "\e904";}

.feather-align-left:before {content: "\e905";}

.feather-align-right:before {content: "\e906";}

.feather-anchor:before {content: "\e907";}

.feather-aperture:before {content: "\e908";}

.feather-archive:before {content: "\e909";}

.feather-arrow-down:before {content: "\e90a";}

.feather-arrow-down-circle:before {content: "\e90b";}

.feather-arrow-down-left:before {content: "\e90c";}

.feather-arrow-down-right:before {content: "\e90d";}

.feather-arrow-left:before {content: "\e90e";}

.feather-arrow-left-circle:before {content: "\e90f";}

.feather-arrow-right:before {content: "\e910";}

.feather-arrow-right-circle:before {content: "\e911";}

.feather-arrow-up:before {content: "\e912";}

.feather-arrow-up-circle:before {content: "\e913";}

.feather-arrow-up-left:before {content: "\e914";}

.feather-arrow-up-right:before {content: "\e915";}

.feather-at-sign:before {content: "\e916";}

.feather-award:before {content: "\e917";}

.feather-bar-chart:before {content: "\e918";}

.feather-bar-chart-2:before {content: "\e919";}

.feather-battery:before {content: "\e91a";}

.feather-battery-charging:before {content: "\e91b";}

.feather-bell:before {content: "\e91c";}

.feather-bell-off:before {content: "\e91d";}

.feather-bluetooth:before {content: "\e91e";}

.feather-bold:before {content: "\e91f";}

.feather-book:before {content: "\e920";}

.feather-bookmark:before {content: "\e921";}

.feather-activity:before {content: "\e922";}

.feather-airplay:before {content: "\e923";}

.feather-alert-circle:before {content: "\e924";}

.feather-alert-octagon:before {content: "\e925";}

.feather-alert-triangle:before {content: "\e926";}

.feather-cloud:before {content: "\e927";}

.feather-cloud-drizzle:before {content: "\e928";}

.feather-cloud-lightning:before {content: "\e929";}

.feather-cloud-off:before {content: "\e92a";}

.feather-cloud-rain:before {content: "\e92b";}

.feather-cloud-snow:before {content: "\e92c";}

.feather-code:before {content: "\e92d";}

.feather-codepen:before {content: "\e92e";}

.feather-codesandbox:before {content: "\e92f";}

.feather-coffee:before {content: "\e930";}

.feather-columns:before {content: "\e931";}

.feather-command:before {content: "\e932";}

.feather-compass:before {content: "\e933";}

.feather-copy:before {content: "\e934";}

.feather-corner-down-left:before {content: "\e935";}

.feather-corner-down-right:before {content: "\e936";}

.feather-corner-left-down:before {content: "\e937";}

.feather-corner-left-up:before {content: "\e938";}

.feather-calendar:before {content: "\e939";}

.feather-camera:before {content: "\e93a";}

.feather-camera-off:before {content: "\e93b";}

.feather-cast:before {content: "\e93c";}

.feather-check:before {content: "\e93d";}

.feather-check-circle:before {content: "\e93e";}

.feather-check-square:before {content: "\e93f";}

.feather-chevron-down:before {content: "\e940";}

.feather-chevron-left:before {content: "\e941";}

.feather-chevron-right:before {content: "\e942";}

.feather-chevrons-down:before {content: "\e943";}

.feather-chevrons-left:before {content: "\e944";}

.feather-chevrons-right:before {content: "\e945";}

.feather-chevrons-up:before {content: "\e946";}

.feather-chevron-up:before {content: "\e947";}

.feather-chrome:before {content: "\e948";}

.feather-circle:before {content: "\e949";}

.feather-clipboard:before {content: "\e94a";}

.feather-clock:before {content: "\e94b";}

.feather-file-text:before {content: "\e94c";}

.feather-film:before {content: "\e94d";}

.feather-filter:before {content: "\e94e";}

.feather-flag:before {content: "\e94f";}

.feather-folder:before {content: "\e950";}

.feather-folder-minus:before {content: "\e951";}

.feather-folder-plus:before {content: "\e952";}

.feather-framer:before {content: "\e953";}

.feather-cpu:before {content: "\e954";}

.feather-credit-card:before {content: "\e955";}

.feather-crop:before {content: "\e956";}

.feather-crosshair:before {content: "\e957";}

.feather-database:before {content: "\e958";}

.feather-delete:before {content: "\e959";}

.feather-disc:before {content: "\e95a";}

.feather-divide:before {content: "\e95b";}

.feather-divide-circle:before {content: "\e95c";}

.feather-divide-square:before {content: "\e95d";}

.feather-dollar-sign:before {content: "\e95e";}

.feather-download:before {content: "\e95f";}

.feather-download-cloud:before {content: "\e960";}

.feather-dribbble:before {content: "\e961";}

.feather-droplet:before {content: "\e962";}

.feather-edit:before {content: "\e963";}

.feather-edit-2:before {content: "\e964";}

.feather-edit-3:before {content: "\e965";}

.feather-external-link:before {content: "\e966";}

.feather-eye:before {content: "\e967";}

.feather-eye-off:before {content: "\e968";}

.feather-facebook:before {content: "\e969";}

.feather-fast-forward:before {content: "\e96a";}

.feather-feather:before {content: "\e96b";}

.feather-figma:before {content: "\e96c";}

.feather-file:before {content: "\e96d";}

.feather-file-minus:before {content: "\e96e";}

.feather-file-plus:before {content: "\e96f";}

.feather-corner-right-down:before {content: "\e970";}

.feather-corner-right-up:before {content: "\e971";}

.feather-corner-up-left:before {content: "\e972";}

.feather-corner-up-right:before {content: "\e973";}

.feather-heart:before {content: "\e974";}

.feather-help-circle:before {content: "\e975";}

.feather-hexagon:before {content: "\e976";}

.feather-home:before {content: "\e977";}

.feather-image:before {content: "\e978";}

.feather-inbox:before {content: "\e979";}

.feather-info:before {content: "\e97a";}

.feather-instagram:before {content: "\e97b";}

.feather-italic:before {content: "\e97c";}

.feather-key:before {content: "\e97d";}

.feather-layers:before {content: "\e97e";}

.feather-layout:before {content: "\e97f";}

.feather-life-buoy:before {content: "\e980";}

.feather-link:before {content: "\e981";}

.feather-link-2:before {content: "\e982";}

.feather-linkedin:before {content: "\e983";}

.feather-list:before {content: "\e984";}

.feather-loader:before {content: "\e985";}

.feather-lock:before {content: "\e986";}

.feather-log-in:before {content: "\e987";}

.feather-log-out:before {content: "\e988";}

.feather-mail:before {content: "\e989";}

.feather-map:before {content: "\e98a";}

.feather-map-pin:before {content: "\e98b";}

.feather-frown:before {content: "\e98c";}

.feather-gift:before {content: "\e98d";}

.feather-git-branch:before {content: "\e98e";}

.feather-git-commit:before {content: "\e98f";}

.feather-github:before {content: "\e990";}

.feather-gitlab:before {content: "\e991";}

.feather-git-merge:before {content: "\e992";}

.feather-git-pull-request:before {content: "\e993";}

.feather-globe:before {content: "\e994";}

.feather-grid:before {content: "\e995";}

.feather-hard-drive:before {content: "\e996";}

.feather-hash:before {content: "\e997";}

.feather-headphones:before {content: "\e998";}

.feather-octagon:before {content: "\e999";}

.feather-package:before {content: "\e99a";}

.feather-paperclip:before {content: "\e99b";}

.feather-pause:before {content: "\e99c";}

.feather-pause-circle:before {content: "\e99d";}

.feather-pen-tool:before {content: "\e99e";}

.feather-percent:before {content: "\e99f";}

.feather-phone:before {content: "\e9a0";}

.feather-phone-call:before {content: "\e9a1";}

.feather-phone-forwarded:before {content: "\e9a2";}

.feather-phone-incoming:before {content: "\e9a3";}

.feather-phone-missed:before {content: "\e9a4";}

.feather-phone-off:before {content: "\e9a5";}

.feather-phone-outgoing:before {content: "\e9a6";}

.feather-pie-chart:before {content: "\e9a7";}

.feather-play:before {content: "\e9a8";}

.feather-play-circle:before {content: "\e9a9";}

.feather-maximize:before {content: "\e9aa";}

.feather-maximize-2:before {content: "\e9ab";}

.feather-meh:before {content: "\e9ac";}

.feather-menu:before {content: "\e9ad";}

.feather-message-circle:before {content: "\e9ae";}

.feather-message-square:before {content: "\e9af";}

.feather-mic:before {content: "\e9b0";}

.feather-mic-off:before {content: "\e9b1";}

.feather-minimize:before {content: "\e9b2";}

.feather-minimize-2:before {content: "\e9b3";}

.feather-minus:before {content: "\e9b4";}

.feather-minus-circle:before {content: "\e9b5";}

.feather-minus-square:before {content: "\e9b6";}

.feather-monitor:before {content: "\e9b7";}

.feather-moon:before {content: "\e9b8";}

.feather-more-horizontal:before {content: "\e9b9";}

.feather-more-vertical:before {content: "\e9ba";}

.feather-mouse-pointer:before {content: "\e9bb";}

.feather-move:before {content: "\e9bc";}

.feather-music:before {content: "\e9bd";}

.feather-navigation:before {content: "\e9be";}

.feather-navigation-2:before {content: "\e9bf";}

.feather-skip-back:before {content: "\e9c0";}

.feather-skip-forward:before {content: "\e9c1";}

.feather-slack:before {content: "\e9c2";}

.feather-slash:before {content: "\e9c3";}

.feather-sliders:before {content: "\e9c4";}

.feather-smartphone:before {content: "\e9c5";}

.feather-smile:before {content: "\e9c6";}

.feather-speaker:before {content: "\e9c7";}

.feather-plus:before {content: "\e9c8";}

.feather-plus-circle:before {content: "\e9c9";}

.feather-plus-square:before {content: "\e9ca";}

.feather-pocket:before {content: "\e9cb";}

.feather-power:before {content: "\e9cc";}

.feather-printer:before {content: "\e9cd";}

.feather-radio:before {content: "\e9ce";}

.feather-refresh-ccw:before {content: "\e9cf";}

.feather-refresh-cw:before {content: "\e9d0";}

.feather-repeat:before {content: "\e9d1";}

.feather-rewind:before {content: "\e9d2";}

.feather-rotate-ccw:before {content: "\e9d3";}

.feather-rotate-cw:before {content: "\e9d4";}

.feather-rss:before {content: "\e9d5";}

.feather-save:before {content: "\e9d6";}

.feather-scissors:before {content: "\e9d7";}

.feather-search:before {content: "\e9d8";}

.feather-send:before {content: "\e9d9";}

.feather-server:before {content: "\e9da";}

.feather-settings:before {content: "\e9db";}

.feather-share:before {content: "\e9dc";}

.feather-share-2:before {content: "\e9dd";}

.feather-shield:before {content: "\e9de";}

.feather-shield-off:before {content: "\e9df";}

.feather-shopping-bag:before {content: "\e9e0";}

.feather-shopping-cart:before {content: "\e9e1";}

.feather-shuffle:before {content: "\e9e2";}

.feather-sidebar:before {content: "\e9e3";}

.feather-square:before {content: "\e9e4";}

.feather-star:before {content: "\e9e5";}

.feather-stop-circle:before {content: "\e9e6";}

.feather-sun:before {content: "\e9e7";}

.feather-sunrise:before {content: "\e9e8";}

.feather-sunset:before {content: "\e9e9";}

.feather-table:before {content: "\e9ea";}

.feather-tablet:before {content: "\e9eb";}

.feather-tag:before {content: "\e9ec";}

.feather-target:before {content: "\e9ed";}

.feather-terminal:before {content: "\e9ee";}

.feather-thermometer:before {content: "\e9ef";}

.feather-thumbs-down:before {content: "\e9f0";}

.feather-thumbs-up:before {content: "\e9f1";}

.feather-toggle-left:before {content: "\e9f2";}

.feather-toggle-right:before {content: "\e9f3";}

.feather-tool:before {content: "\e9f4";}

.feather-trash:before {content: "\e9f5";}

.feather-trash-2:before {content: "\e9f6";}

.feather-trello:before {content: "\e9f7";}

.feather-trending-down:before {content: "\e9f8";}

.feather-trending-up:before {content: "\e9f9";}

.feather-triangle:before {content: "\e9fa";}

.feather-truck:before {content: "\e9fb";}

.feather-tv:before {content: "\e9fc";}

.feather-twitch:before {content: "\e9fd";}

.feather-twitter:before {content: "\e9fe";}

.feather-type:before {content: "\e9ff";}

.feather-umbrella:before {content: "\ea00";}

.feather-underline:before {content: "\ea01";}

.feather-unlock:before {content: "\ea02";}

.feather-upload:before {content: "\ea03";}

.feather-upload-cloud:before {content: "\ea04";}

.feather-user-check:before {content: "\ea05";}

.feather-user-minus:before {content: "\ea06";}

.feather-user:before {content: "\ea07";}

.feather-user-plus:before {content: "\ea08";}

.feather-users:before {content: "\ea09";}

.feather-user-x:before {content: "\ea0a";}

.feather-video:before {content: "\ea0b";}

.feather-video-off:before {content: "\ea0c";}

.feather-voicemail:before {content: "\ea0d";}

.feather-volume:before {content: "\ea0e";}

.feather-volume-1:before {content: "\ea0f";}

.feather-volume-2:before {content: "\ea10";}

.feather-volume-x:before {content: "\ea11";}

.feather-watch:before {content: "\ea12";}

.feather-wifi:before {content: "\ea13";}

.feather-wifi-off:before {content: "\ea14";}

.feather-wind:before {content: "\ea15";}

.feather-x:before {content: "\ea16";}

.feather-x-circle:before {content: "\ea17";}

.feather-x-octagon:before {content: "\ea18";}

.feather-x-square:before {content: "\ea19";}

.feather-youtube:before {content: "\ea1a";}

.feather-zap:before {content: "\ea1b";}

.feather-zap-off:before {content: "\ea1c";}

.feather-zoom-in:before {content: "\ea1d";}

.feather-zoom-out:before {content: "\ea1e";}
