
.sidebar {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.sidebar h4 {
  font-weight: bold;
  margin-bottom: 15px;
}
.sidebar a {
  text-decoration: none;
  color: #003366;
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}
.sidebar a:hover {
  color: #0056b3;
  text-decoration: underline;
}
.book-card {
  border: none;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.book-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.book-card .card-body {
  text-align: center;
}
.book-card h5 {
  font-weight: bold;
  color: #003366;
}
.book-card .price {
  font-size: 18px;
  font-weight: bold;
  color: #28a745;
}
.btn-add {
  background: #003366;
  color: white;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  font-weight: bold;
  text-transform: uppercase;
}
.btn-add:hover {
  background: #0056b3;
}
/* Estilos do Loader */
.lds-roller,
.lds-roller div,
.lds-roller div:after {
    box-sizing: border-box;
}
.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}
.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7.2px;
    height: 7.2px;
    border-radius: 50%;
    background: currentColor;
    margin: -3.6px 0 0 -3.6px;
}
.lds-roller div:nth-child(1) { animation-delay: -0.036s; }
.lds-roller div:nth-child(1):after { top: 62.62742px; left: 62.62742px; }
.lds-roller div:nth-child(2) { animation-delay: -0.072s; }
.lds-roller div:nth-child(2):after { top: 67.71281px; left: 56px; }
.lds-roller div:nth-child(3) { animation-delay: -0.108s; }
.lds-roller div:nth-child(3):after { top: 70.90963px; left: 48.28221px; }
.lds-roller div:nth-child(4) { animation-delay: -0.144s; }
.lds-roller div:nth-child(4):after { top: 72px; left: 40px; }
.lds-roller div:nth-child(5) { animation-delay: -0.18s; }
.lds-roller div:nth-child(5):after { top: 70.90963px; left: 31.71779px; }
.lds-roller div:nth-child(6) { animation-delay: -0.216s; }
.lds-roller div:nth-child(6):after { top: 67.71281px; left: 24px; }
.lds-roller div:nth-child(7) { animation-delay: -0.252s; }
.lds-roller div:nth-child(7):after { top: 62.62742px; left: 17.37258px; }
.lds-roller div:nth-child(8) { animation-delay: -0.288s; }
.lds-roller div:nth-child(8):after { top: 56px; left: 12.28719px; }

@keyframes lds-roller {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Tela de Carregamento */
.loader-container {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

/* Página Principal (Escondida inicialmente) */
.content {
    display: none;
    text-align: center;
    padding: 50px;
}

.hidden {
  display: none;
}

.rev-section{
  margin: auto;
  padding: 0 1rem;
  max-width: 1100px;
  text-align: center;
}

.title{
  font-size: 2.5rem;
  text-transform: uppercase;
  color: rgb(50, 50, 50);
  margin-bottom: .5rem;
}
.note{
  font-size: 1.1rem;
  color: rgb(150, 150, 150);
  font-style: italic;
    color: red;
}

.reviews{
  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap;
}
.review{
  margin: 0 1rem;
  min-width: 300px;
  flex: 1;
}

.head-review{
  margin: 1.75rem auto;
  width: 150px;
  height: 150px;
}
.review .head-review img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 10px 25px rgba(0, 0, 0, .25);
}

.body-review{
  background-color: rgb(255, 255, 255);
  padding: 2.5rem;
  box-shadow: 2px 2px 10px 3px rgb(225, 225, 225);
}
.name-review{
  font-size: 1.5rem;
  color: rgb(50, 50, 50);
  margin-bottom: .25rem;
}
.role-review{
  font-style: italic;
}
.rating{
  color: rgb(253, 180, 42);
  margin: 1rem 0;
}
.desc-review{
  line-height: 1.5rem;
  letter-spacing: 1px;
  color: rgb(150, 150, 150);
}

@media (max-width: 678px){
  .review{
    margin-top: 1.5rem;
  }
  .form-filter div button {
    width: 100%;
  }
  .courses-details-card img{
    width: 100%;
    height: 350px;
  }
}

.img-profile {
height: 2rem;
width: 2rem;
}

.img-teacher{
  width: 50px;
  height: 50px;
}

/* extension */
html.sr .widget {
  visibility: hidden;
}

.courses-details-card img{
  width: 100%;
  height: 450px;
  object-fit: cover;
}

.courses-details-card div div span{
  font-weight: 600;
  font-size: 1.4rem;
}

.courses-details-card div div p{
  font-size: 0.9rem;
}

/*---------------------
  Course Details
-----------------------*/

.course-details {
	padding-top: 60px;
}

.course__details__content {
	margin-bottom: 65px;
}

.course__details__text {
	position: relative;
}

.course__details__text p {
	color: #a7a7a7;
	font-size: 18px;
	line-height: 30px;
}

.course__details__pic {
	height: 440px;
	border-radius: 5px;
	position: relative;
}

.course__details__pic .comment {
	font-size: 13px;
	color: #ffffff;
	background: #3d3d3d;
	display: inline-block;
	padding: 2px 10px;
	border-radius: 4px;
	position: absolute;
	left: 10px;
	bottom: 25px;
}

.course__details__pic .view {
	font-size: 13px;
	color: #ffffff;
	background: #3d3d3d;
	display: inline-block;
	padding: 2px 10px;
	border-radius: 4px;
	position: absolute;
	right: 10px;
	bottom: 25px;
}

.course__details__title {
	margin-bottom: 20px;
}

.course__details__title h3 {
	color: #333;
	font-weight: 700;
	margin-bottom: 13px;
}

.course__details__title span {
	font-size: 15px;
	color: #b7b7b7;
	display: block;
}

.course__details__rating {
	text-align: center;
	position: absolute;
	right: 0;
	top: 0;
}

.course__details__rating .rating i {
	font-size: 24px;
	color: #e89f12;
	display: inline-block;
}

.course__details__rating span {
	display: block;
	font-size: 18px;
	color: #b7b7b7;
}

.course__details__widget {
	margin-bottom: 15px;
}

.course__details__widget ul {
	margin-bottom: 20px;
}

.course__details__widget ul li {
	list-style: none;
	font-size: 15px;
	color: #343434;
	line-height: 30px;
	position: relative;
	padding-left: 18px;
}

.course__details__widget ul li:before {
	position: absolute;
	left: 0;
	top: 12px;
	height: 6px;
	width: 6px;
	background: #b7b7b7;
	content: "";
}

.course__details__widget ul li span {
	color: #b7b7b7;
	width: 115px;
	display: inline-block;
}

.course__details__btn .buy-btn {
	font-size: 13px;
	color: #ffffff;
	background: #e53637;
	display: inline-block;
	font-weight: 700;
	letter-spacing: 2px;
	padding: 14px 20px;
	border-radius: 4px;
	margin-right: 11px;
  text-decoration: none;
}

.course__details__btn .watch-btn span {
	font-size: 13px;
	color: #ffffff;
	background: #e53637;
	display: inline-block;
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
	padding: 14px 20px;
	border-radius: 4px 0 0 4px;
	margin-right: 1px;
}

.course__details__btn .watch-btn i {
	font-size: 900px;
	display: inline-block;
	background: #e53637;
	padding: 11px 5px 16px 8px;
	color: #ffffff;
	border-radius: 0 4px 4px 0;
}
.course__details__review {
	margin-bottom: 55px;
}

.course__review__item {
	overflow: hidden;
	margin-bottom: 15px;
}

.course__review__item__pic {
	float: left;
	margin-right: 20px;
	position: relative;
}

.course__review__item__pic:before {
	position: absolute;
	right: -30px;
	top: 15px;
	border-top: 15px solid transparent;
	border-left: 15px solid #1d1e39;
	content: "";
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.course__review__item__pic img {
	height: 50px;
	width: 50px;
	border-radius: 50%;
}

.course__review__item__text {
	overflow: hidden;
	background: #1d1e39;
	padding: 18px 30px 16px 20px;
	border-radius: 10px;
}

.course__review__item__text h6 {
	color: #ffffff;
	font-weight: 700;
	margin-bottom: 10px;
}

.course__review__item__text h6 span {
	color: #b7b7b7;
	font-weight: 400;
}

.course__review__item__text p {
	color: #b7b7b7;
	line-height: 23px;
	margin-bottom: 0;
}

.course__details__form form textarea {
	width: 100%;
	font-size: 15px;
	color: #b7b7b7;
	padding-left: 20px;
	padding-top: 12px;
	height: 110px;
	border-radius: 5px;
	resize: none;
	margin-bottom: 24px;
}

.course__details__form form button {
	font-size: 11px;
	color: #ffffff;
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
	background: #e53637;
	border: none;
	padding: 10px 15px;
	border-radius: 2px;
}

/*---------------------
  Course Watching
-----------------------*/

.course__video__player {
	margin-bottom: 70px;
}

.course__video__player .plyr--video {
	border-radius: 5px;
	background: transparent;
}

.course__video__player .plyr audio,
.course__video__player .plyr iframe,
.course__video__player .plyr video {
	width: 102%;
}

.course__video__player video {
  width: 100%; /* Ou um valor fixo como 500px */
  height: auto; /* Mantém a proporção */
  border-radius: 10px; /* Para bordas arredondadas */
}

.course__video__player .plyr--full-ui.plyr--video .plyr__control--overlaid {
	display: block;
}

.course__video__player .plyr--video .plyr__control.plyr__tab-focus,
.course__video__player .plyr--video .plyr__control:hover,
.course__video__player .plyr--video .plyr__control[aria-expanded=true] {
	background: transparent;
}

.course__video__player .plyr--video .plyr__controls {
	background: transparent;
}

.course__video__player .plyr--video .plyr__progress__buffer {
	color: transparent;
}

.course__video__player .plyr--full-ui input[type=range] {
	color: #ffffff;
}

.course__video__player .plyr__controls .plyr__controls__item.plyr__progress__container {
	position: absolute;
	left: 26px;
	bottom: 45px;
	width: calc(100% - 60px);
}

.course__video__player .plyr__menu {
	margin-right: 70px;
}

.course__video__player .plyr__controls .plyr__controls__item:first-child {
	position: absolute;
	left: 32px;
	bottom: 8px;
}

.course__video__player .plyr__controls .plyr__controls__item:last-child {
	position: absolute;
	right: 32px;
	bottom: 8px;
}

.course__video__player .plyr__volume {
	position: absolute;
	width: auto;
	left: 76px;
	bottom: 8px;
}

.course__video__player .plyr__controls .plyr__controls__item.plyr__time {
	position: absolute;
	left: 106px;
	bottom: 12px;
}

.course__video__player .plyr__control--overlaid {
	background: transparent;
	background: var(--plyr-video-control-background-hover, var(--plyr-color-main, var(--plyr-color-main, transparent)));
}

.course__video__player .plyr__control--overlaid svg {
	height: 60px;
	width: 50px;
}

.course__details__episodes {
	margin-bottom: 35px;
}

.course__details__episodes a {
	display: inline-block;
	font-size: 15px;
	color: #939393;
	background: rgba(155, 155, 155, 0.2);
	padding: 10px 20px;
	border-radius: 4px;
	margin-right: 15px;
	margin-bottom: 20px;
	-webkit-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}

.course__details__episodes a:hover {
	color: #000000;
	background: #ffffff;
}


/* Small Device = 320px */

@media only screen and (max-width: 479px) {
	.course__details__btn .buy-btn {
		padding: 14px 26px;
		margin-right: 11px;
		margin-bottom: 25px;
	}
	.course__details__widget ul li span {
		width: 85px;
	}
	.course__video__player .plyr__volume {
		left: 65px;
	}
	.course__video__player .plyr__controls .plyr__controls__item.plyr__time {
		left: 95px;
	}
	.course__video__player .plyr__menu {
		margin-right: 60px;
	}
	.course__review__item__text h6 span {
		font-size: 12px;
	}
	.course__review__item__text {
		padding: 18px 20px 20px;
	}
	.course__details__rating {
		text-align: left;
		position: relative;
		margin-bottom: 20px;
	}
	.course__details__pic {
		margin-bottom: 40px;
	}
}